*{
    margin: 0px;
    box-sizing: border-box;
}
.Navbar{
    
    font-family: serif;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px 1px grey;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
        h1{
            font-weight: lighter;
        }
        .Menu{
        list-style: none;
        font-size: 20px;
    }
    ul{
        display: flex;
    }
    li{
        margin: 0 45px;
    }
    a{
        color: black;
        text-decoration: none;
    }
    a:hover{
        color: white;
    }
}
body{
    font-family: serif; 
    background-color: rgb(87, 86, 86);
}
.titre{
    text-align: center;
    margin-top: 40px;
    color: white;
    font-size: 3em;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 26%;
    width: 650px;
}
.timeline{
    padding-top: 50px;
    margin-top: 50px;
    position: relative;
    overflow-y: hidden;
}
.timeline-item:before{
    content:'';
    position:absolute;
    background-color:grey;
    width: 3px;
    height: 50%;
    left: 50%;
}
.timeline-item{
    margin: 0px 74px;
}
.timeline-item-details{
    display: inline-block;
    margin-bottom: 64px;
    text-decoration: none;
}

.timeline-item-details-marker .timeline-item-details-description-right .timeline-item-details-description-left{
    float:left;
    margin-top: 20px;
}
.timeline-item-details-marker{
    position: relative;
    z-index:10;
    border-radius: 50%;
    background-color:grey; 
    width: 32px;
    height: 32px;
    border: 3px solid white;
    margin-left:587px;
    transition: transform .3s, background-color 0.3s;
}
.timeline-item-details:hover .timeline-item-details-marker{
    transform: scale(1.2);
    background-color: white;
    border: 1px solid grey;
}
.timeline-item-details-description-right{
    padding: 16px;
    text-decoration: none;
    color: white;
    background-color: #c38d94;
    width:400px;
    border-radius: 4px;
    margin-left: 650px;
    margin-top: -50px;
    word-wrap: break-word;
    opacity: 0.5;
    transition: opacity .3s;
}
.timeline-item-details-description-left{
    padding: 16px;
    text-decoration: none;
    color: white;
    background-color: #c38d94;
    width:400px;
    border-radius: 4px;
    margin-left: 150px;
    margin-top: -50px;
    word-wrap: break-word;
    opacity: 0.5;
    transition: opacity .3s;
}
.timeline-item-details:hover .timeline-item-details-description-right{
    opacity:1;
}
.timeline-item-details:hover .timeline-item-details-description-left{
    opacity:1;
}
.timeline-item-details{
    line-height: 25px;
}
.timeline-item-details h2{
    padding-top: 5px;
    font-size: 1.3em;
    text-align: center;
}
.timeline-item-details h3{
    padding-top: 2px;
    font-size: 1.1em;
    text-align: center;
}
.timeline-item-details p{
    text-align: center;
}