*{
    margin: 0;
}
body{
    background-color: black;
    height: 100%;
}
.Navbar img{
    position: absolute;
    height: 50px;
    width: 50px;
    margin: 5px;
    margin-left: 10px;
}
.Navbar{
    z-index: 1;
    height: 60px;
    width: 100%;
    background-color: black;
    box-shadow: 10px 10px 5px rgb(40, 40, 40);
}
.Navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.Navbar ul li{
    margin-top: 25px;
    margin-right: 75px;
    list-style: none;
    font-size: 20px;
}
.Navbar .Parcours a{
    color:  rgb(123, 0, 238);
    font-weight: bold;
    pointer-events: none;
}
.Navbar ul li a{
    color: white;
    text-decoration: none;
}

.Navbar .Contact a:hover{
    color: rgb(0, 106, 255);
    font-weight: bold;
}
.Navbar .Portfolio a:hover{
    color: rgb(40, 26, 196);
    font-weight: bold;
}
.Navbar .Accueil a:hover{
    color: blueviolet;
    font-weight: bold;
}
.Navbar .menu_hamburger{
    width: 35px;
    position: absolute;
    right: 20px;
    display: none;
}
@media screen and (max-width: 800px){
    .Navbar .menu{
         z-index: 1;
        position: absolute;
        background-color: rgba(58, 56, 56, 0.597);
        backdrop-filter: blur(4px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 1s ease;
    }
    .Navbar ul{
        display: flex;
        flex-direction: column;
    }
    .Navbar .menu_hamburger{
        display: block;
        z-index: inherit;
    }
    .Navbar ul li{
        margin: 30px 0px;
    }
    .Navbar ul li a{
        font-size: 25px;
    }
    .menu.mobile-menu{
        margin-left: 0px;
    }

}
.box {
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../image/Formation3.png");
}   
.box h2{
    color: white;
    font-size: 5em;
    font-family: 'Jacques Francois', serif;
    text-shadow: 4px 4px 3px grey;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    font-weight: 200;
}
@media screen and (max-width:950px) {
    .box h2{
        font-size: 50px;
    }
}
@media screen and (max-width:600px) {
    .box h2{
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 10%;
    }
}
.timeline-section{
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    padding: 100px 15px;
}
.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    /*background-color: purple;*/
    background: linear-gradient(purple, blueviolet, blue);
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 30px;
    width: 30px;
    background-color: purple;
    position: absolute;
    left: calc(50% - 15px);
    border-radius: 50%;
    top: 5px;
}
.timeline-dot2{
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: calc(50% - 10px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 20px;
    color: white;
    margin: 6px 0 15px;
    font-weight: 700;
}
.timeline-content{
    background-color: rgba(96, 96, 96, 0.633);
    box-shadow: 2px 2px 5px rgb(149, 149, 149);
    padding: 30px;
    border-radius: 8px;
}
.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    text-transform: capitalize;
}
.timeline-content p{
    color: white;
    font-size: 16px;
    line-height: 22px;
}
@media screen and (max-width: 800px) {
    .timeline-items::before{
        left: 14px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }    
    .timeline-dot{
        left: 0;
    }
    .timeline-dot2{
        left: 5px;
    }
}

.competences{
    margin-top: 50px;
    background-image: url("../image/compétences.jpg");
    width: 100%;
    height: 300px;
    opacity: 0.9;
}
.competences h2{
    font-size: 5em;
    font-family: 'Jacques Francois', serif;
    color: white;
    font-weight: 200;
    text-shadow: 4px 4px 3px grey;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}






footer{
    width: 100%;
    height: 60px;
    background-color: rgba(132, 132, 132, 0.862);
    margin-top: 200px;
}
footer .contact{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
footer .contact .github img{
    width: 50px;
    height: auto;
    margin-right: 50px;
    transition: transform .5s;
}
footer .contact .linkedin img{
    width: 48px;
    height: auto;
    transition: transform .5s;
}
footer .contact .mail img{
    width: 50px;
    height: auto;
    margin-left: 50px;
    transition: transform .5s;
}
footer .contact .formation img{
    width: 45px;
    height: auto;
    padding-top: 4px;
    margin-left: 50px;
    transition: transform .5s;
}
footer img:hover{
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);
}