*{
    margin: 0;
}
body{
    background-color: black;
    height: 100%;
}
/**Navbar**/
.Navbar img{
    position: absolute;
    height: 50px;
    width: 50px;
    margin: 5px;
    margin-left: 10px;
}
.Navbar{
    z-index: 1;
    height: 60px;
    width: 100%;
    background-color: black;
    box-shadow: 10px 10px 5px rgb(40, 40, 40);
}
.Navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.Navbar ul li{
    margin-top: 25px;
    margin-right: 75px;
    list-style: none;
    font-size: 20px;
}
.Navbar .Parcours a{
    color:  rgb(123, 0, 238);
    font-weight: bold;
    pointer-events: none;
}
.Navbar ul li a{
    color: white;
    text-decoration: none;
}

.Navbar .Contact a:hover{
    color: rgb(0, 106, 255);
    font-weight: bold;
}
.Navbar .Portfolio a:hover{
    color: rgb(40, 26, 196);
    font-weight: bold;
}
.Navbar .Accueil a:hover{
    color: blueviolet;
    font-weight: bold;
}
.Navbar .menu_hamburger{
    width: 35px;
    position: absolute;
    right: 20px;
    display: none;
}
/**responsive**/
@media screen and (max-width: 800px){
    .Navbar .menu{
         z-index: 1;
        position: absolute;
        background-color: rgba(58, 56, 56, 0.597);
        backdrop-filter: blur(4px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 1s ease;
    }
    .Navbar ul{
        display: flex;
        flex-direction: column;
    }
    .Navbar .menu_hamburger{
        display: block;
        z-index: inherit;
    }
    .Navbar ul li{
        margin: 30px 0px;
    }
    .Navbar ul li a{
        font-size: 25px;
    }
    .menu.mobile-menu{
        margin-left: 0px;
    }

}
/**Expériences et formations**/
.box {
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../image/Formation3.png");
}   
.box h2{
    color: white;
    font-size: 5em;
    font-family: 'Jacques Francois', serif;
    text-shadow: 4px 4px 3px grey;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    font-weight: 200;
}
/** Responsive**/
@media screen and (max-width:950px) {
    .box h2{
        font-size: 50px;
    }
}
@media screen and (max-width:600px) {
    .box h2{
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 10%;
    }
}
/** Timeline**/
.timeline-section{
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    padding: 100px 15px;
}
.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    /*background-color: purple;*/
    background: linear-gradient(purple, blueviolet, blue);
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 30px;
    width: 30px;
    background-color: purple;
    position: absolute;
    left: calc(50% - 15px);
    border-radius: 50%;
    top: 5px;
}
.timeline-dot2{
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: calc(50% - 10px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 20px;
    color: white;
    margin: 6px 0 15px;
    font-weight: 700;
}
.timeline-content{
    background-color: rgba(96, 96, 96, 0.633);
    box-shadow: 2px 2px 5px rgb(149, 149, 149);
    padding: 30px;
    border-radius: 8px;
}
.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    text-transform: capitalize;
}
.timeline-content p{
    color: white;
    font-size: 16px;
    line-height: 22px;
}
/** Reponsive**/
@media screen and (max-width: 800px) {
    .timeline-items::before{
        left: 14px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }    
    .timeline-dot{
        left: 0;
    }
    .timeline-dot2{
        left: 5px;
    }
}
/** bouton**/
.button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.btn a {
    text-decoration: none;
    color: white;
}
.btn p{
    color: white;
    font-size: 20px;
}
.btn {
    border: 0;
    background: transparent;
    position: relative;
    overflow: hidden;
    padding: 20px 50px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
    transition: all .2s;
}
.btn::after{
    content: '';
    width:400px;
    height: 400px;
    background: linear-gradient(225deg, #2762d8 0%, #a220ed 50%, #bd1ac8 100%);
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: -1;
    transition: all .5s;
}

.btn:hover::after{
    transform: rotate(150deg);
}
.btn:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64,248,0.25), -10px 10px 25px 0px rgba(39,200,255,0.25);
}

/** Compétences**/

.competences{
    margin-top: 200px;
    background-image: url("../image/compétences.jpg");
    width: 100%;
    height: 300px;
    opacity: 0.9;
}
.competences h2{
    font-size: 5em;
    font-family: 'Jacques Francois', serif;
    color: white;
    font-weight: 200;
    text-shadow: 4px 4px 3px grey;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

/** Responsive**/
@media screen and (max-width:950px) {
    .competences{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .competences h2{
        font-size: 50px;
    }
}
/** cercle**/
.cercle-competence{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cercle-html{
    position: relative;
    margin-left: 5px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    height: 400px;
    min-width: 250px ;
}
.cercle-html img{
    padding-top: 10px;
    width: 80px;
    height: auto;
}
.cercle-html h4{
    position: absolute;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cercle-css{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-width: 250px;
    height: 400px;
    position: relative;
}

.cercle-css img{
    padding-top: 5px;
    width: 60px;
    height: auto;
}
.cercle-css h4{
    position: absolute;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cercle-github{
    margin-right: 5px;
    padding-top: 10px;
    height: 400px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-width: 250px;
    position: relative;
}
.cercle-github img{
    width: 150px;
    height: auto;
}
.cercle-github h4{
    position: absolute;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


svg{
    height: 200px;
    width: 200px;
    padding: 30px;
}
svg circle{
    fill: none;
    transform: translate(5px,5px);
    stroke: #3820ed;
    stroke-width: 10px;
    stroke-dasharray: 560;
    stroke-dashoffset: 560;
    stroke-linecap: square;
}


.cercle-html svg circle:nth-child(1){
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 0;
}
.cercle-html svg circle:nth-child(2){
    animation: circle-1 3s forwards;
}
@keyframes circle-1{
    to{stroke-dashoffset:112;
    }
}

.cercle-css svg circle:nth-child(1){
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 0;
}
.cercle-css svg circle:nth-child(2){
    animation: circle-2 3s forwards;
}
@keyframes circle-2 {
    to{stroke-dashoffset:224;
    }
}
 
.cercle-github svg circle:nth-child(1){
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 0;
}
.cercle-github svg circle:nth-child(2){
    animation: circle-3 3s forwards;
}
@keyframes circle-3{
    to{stroke-dashoffset:308;
    }
}
 /** Responsive**/
@media screen and (max-width: 915px) {
    .cercle-github{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .cercle-github h4{
        position: absolute;
        color: #ffffff;
        font-size: 2em;
        font-weight: bold;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
    }
}
@media screen and (max-width: 615px) {
    .cercle-github{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .cercle-css{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .cercle-html{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .cercle-css h4{
        position: absolute;
        color: #ffffff;
        font-size: 2em;
        font-weight: bold;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
    }
    .cercle-html h4{
        position: absolute;
        color: #ffffff;
        font-size: 2em;
        font-weight: bold;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
    }
}
/** Pieds de page**/
footer{
    width: 100%;
    height: 60px;
    background-color: rgba(132, 132, 132, 0.862);
    margin-top: 100px;
}
footer .contact{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
footer .contact .github img{
    width: 50px;
    height: auto;
    margin-right: 50px;
    transition: transform .5s;
}
footer .contact .linkedin img{
    width: 48px;
    height: auto;
    transition: transform .5s;
}
footer .contact .mail img{
    width: 50px;
    height: auto;
    margin-left: 50px;
    transition: transform .5s;
}
footer .contact .formation img{
    width: 45px;
    height: auto;
    padding-top: 4px;
    margin-left: 50px;
    transition: transform .5s;
}
footer img:hover{
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);
}